.container-fluid{
width: 100%;
}
.container-fluid .title{
border-bottom: 1px solid #d9dadc;
padding: 25px 0 10px;
margin-bottom: 30px;
text-align: center;
}
/**** CONTENT ****/
.alert-danger{
width: 50%;
margin: auto; 
padding: 0.5rem;
margin-bottom: 1rem;
background:none;
border: none;
}
h3,p{
text-align: center;
}
p{
color: #aaa;
}
.login{
text-align: center;
}
/*** FORM ***/
.errorlist{
list-style: none;
padding: .5rem 0;
color: #842029;
}
.helptext{
    color: #aaa;
}
form input.form-control{
width: 50%;
margin: auto;

}
form input{
width: 100%;
display: block;
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
-moz-appearance: none;
appearance: none;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
form input[type=submit]{
background: #212529;
color: white;

margin-top: 1rem;
}

/**** MEDIA QUERY ****/
@media(max-width:900px){
    form input.form-control,.alert-danger{
        width: 100%;
    } 
}

