.container-fluid{
    width: 80%;
}
.container-fluid .title{
border-bottom: 1px solid #d9dadc;
padding: 25px 0 10px;
margin-bottom: 30px;
text-align: center;

}
.container-fluid .title a{
text-decoration: none;
color: #212529;
}

.update{
padding: 0 2rem;
text-align: end;

}

.update a{
background: #212529;
border: 1px solid #ced4da;
color: white;
text-decoration: none;
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
}
.update a#delete{
background: none;
color: indianred;
border: none;
}

/**** PRESENTATION ****/


.presentation{
display: flex;
align-items: center;
}

.presentation .data h2{
font-size: 3rem;
}
.presentation .data h5{
letter-spacing: .5px; 
padding: .3rem ; 
}
.presentation .data p{
text-align: justify;
color: #aaa;
}


/**** TEACHERS ****/
.teachers {
margin: 0  0 5rem ;
}

.teachers .list-group{
margin: 1rem 0 0 0;
flex-direction: inherit;    
}
.teachers .list-group-item{
display: flex;
justify-content: space-between;
align-items: end;
}
.teachers a{
text-decoration: none;
width: 100%;
}
.teachers img{
width: 50px;
border-radius: 50%;
} 
.teachers p{
color: rgb(92, 92, 92);
}

/****  CATEGORIES  ****/

.c-title{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
margin: auto;
}
.c-title a{
text-decoration: none; 
width: 5%; 
text-align: center;
}
.c-title a {
background: rgb(175, 175, 175);    
color: white;
transition: all 0.2s;
border-radius: 10px;
margin: 0;
padding: 3px 12px;
font-weight: 400;
font-size: 11px;
text-transform: uppercase;
letter-spacing: 0.5px;
}
.c-title a p:hover{
background: #AAA4AC;
}

.categories{
margin: 5rem 0;
}
.categories .list-group{
    margin: 1rem 0;
}
.categories .list-group-item{
display: flex;
justify-content: space-between;
}
.categories .list-group a{
text-decoration: none;
width: 100%;
}
.categories  p{
color: rgb(92, 92, 92);
margin: 0;
padding: 0;
}


/**** CONTENT ****/

.c-title{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
margin: auto;
padding: .5rem 0;
}
.c-title a{
text-decoration: none; 
width: 5%; 
text-align: center;
}
.c-title a {
background: rgb(175, 175, 175);    
color: white;
transition: all 0.2s;
border-radius: 10px;
margin: 0;
padding: 3px 12px;
font-weight: 400;
font-size: 11px;
text-transform: uppercase;
letter-spacing: 0.5px;
}
.c-title a p:hover{
background: #AAA4AC;
}

.content{
margin: 5rem 0;
}
.content a{
    text-decoration: none;
}
.content .list-group{
    margin: 1rem 0;
}
.content .list-group-item{
display: flex;
justify-content: space-between;
}
.content .list-group a{
text-decoration: none;
width: 100%;
}
.content  p{
color: rgb(92, 92, 92);
margin: 0;
padding: 0;
}

/**** LIST CONTENT ****/
.list-content{
display: flex;
align-items: center;
}
.list-content a#content_field{
width: 100%;
}
.list-content #delete{
padding: 0 1rem;
color: lightcoral;
}

/**** MEDIA QUERY ****/

@media(max-width:1570px){
    .c-title a{
        width: 10%; 
    }
}
@media(max-width:1120px){
    .data{
        padding: 0px 0 0 5rem;
    }
}
@media(min-width:1120px){
    .data p{
        width: 80%;
    }
}
@media(max-width:955px){
    .update{
        padding: 0 2rem;
        text-align: center;
        margin: 2rem 0;
        
        }
    .presentation {
        display: block;
    }
    .presentation .img{
        height: 350px;
        overflow: hidden;
    }    
    .presentation .data{
        padding: 0;
    }
    .data h2,.data h5{
        text-align: center;
    }
    .list-group {
        display: block;
    }
}
@media(min-width:955px){
    .presentation .img img{
        width: 350px;
    }
} 
@media(max-width:805px){
    .c-title a{        
    width: 15%; 
    } 
}
@media(max-width:550px){
    .c-title a{        
    width: 25%; 
    } 
}
