/**** CONTENT  ****/

.content{
padding: 0 2rem;
}

/**** Base CONTENT TITLE ****/

.content-title{
display: flex;
justify-content: space-between;
align-items: center;
padding: 2rem 0 ;
margin: auto;
}
.content-title a{
text-decoration: none;   
}
.content-title a {
background: rgb(175, 175, 175);    
color: white;
transition: all 0.2s;
border-radius: 10px;
margin: 0;
padding: 3px 12px;
font-weight: 400;
font-size: 11px;
text-transform: uppercase;
letter-spacing: 0.5px;
}
.content-title a:hover{
background: #AAA4AC;
}



/**** LIST USER ****/

.list-group{
    
padding: 2rem 0 0 0;
}
.list-group-item a{
text-decoration: none;
display: flex;
align-items: center;
justify-content: space-between;
}
.list-group-item a p{
margin: 0;
color: rgb(100, 100, 100);
}
.list-group-item a img.profile_picture{
width: 50px;
border-radius: 50%;
}
.list-group-item#add a{
display: block;
color: #aaa;
} 

/****  ****/
.events{
padding: 4rem 0;
width: 90%;
margin: auto;
}

/**** CALENDAR ****/

table{
font-size: .8rem;    
--bs-table-bg: transparent;
--bs-table-accent-bg: transparent;
--bs-table-striped-color: #212529;
--bs-table-striped-bg: rgba(0, 0, 0, 0.05);
--bs-table-active-color: #212529;
--bs-table-active-bg: rgba(0, 0, 0, 0.1);
--bs-table-hover-color: #212529;
--bs-table-hover-bg: rgba(0, 0, 0, 0.075);
width: 100%;
margin-bottom: 1rem;
color: #212529;
vertical-align: top;
border-color: #dee2e6;
}
tbody tr th.month{
    
text-align: center;
padding: 0 0 20px 0;
border-bottom: 1px solid #d9dadc;
}
tbody tr th.mon, th.tue, th.wed, th.thu, th.fri, th.sat, th.sun{
color: #AAA4AC;
}
tbody tr th, tbody tr td{
padding: 5px;
color: #444444;
}


/**** MEDIA QUERY ****/

@media (min-width:800px){
.content{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 0;
}
.list-group{
    width: 70%;
}
.events{
margin: 0 0 0 3rem;
width: 331px;
}
}

/* h1,h2,h3,h4,h5,h6{
color: rgb(56, 56, 56);
}

.home-content{
margin: 3rem 0 0 0;
} 
.schoolyears .years-title,
.admissions .admission-title,
.calendar .calendar-title,
.events .events-title{
display: flex;
justify-content: space-between;
margin: 0 0 1rem  0;
}
.schoolyears .years-title a,
.admissions .admission-title a,
.events .events-title a{
color: #AAA4AC;
text-decoration: none;   
}
.schoolyears .years-title{
padding: 0 1rem;
}

.schoolyears .years{    
justify-content: space-between;
padding:  1rem;    
}
.years .year{
flex: none;

}
.year a{
text-decoration: none;
}
.year .list-group-item{
display: flex;
justify-content: space-between;
align-items: center;
}
.year .list-group-item i{
font-size: 2.5rem;
padding: 1rem;
color: rgb(247, 207, 155);
} 
.year .list-group-item img{
width: 25px;
border-radius: 50%;
}

.year .list-group-item.text p{
color: #AAA4AC;
}

.admissions{
padding: 2rem 1rem;
}
.admissions a{
display: flex;
align-items: baseline;
justify-content: space-between;
text-decoration: none;
}
.admissions p{
color: #AAA4AC;
}

.second-col{
padding: 2rem 1rem;
}

table{
font-size: 0.8rem;    
--bs-table-bg: transparent;
--bs-table-accent-bg: transparent;
--bs-table-striped-color: #212529;
--bs-table-striped-bg: rgba(0, 0, 0, 0.05);
--bs-table-active-color: #212529;
--bs-table-active-bg: rgba(0, 0, 0, 0.1);
--bs-table-hover-color: #212529;
--bs-table-hover-bg: rgba(0, 0, 0, 0.075);
width: 100%;
margin-bottom: 1rem;
color: #212529;
vertical-align: top;
border-color: #dee2e6;
}

tbody tr th.month{
    
text-align: center;
padding: 0 0 20px 0;
border-bottom: 1px solid #d9dadc;
}

tbody tr th.mon, th.tue, th.wed, th.thu, th.fri, th.sat, th.sun{
color: #AAA4AC;
}

tbody tr th, tbody tr td{
padding: 5px;
color: #444444;
}

.events{
padding: 2rem 0;
}
.events a{
text-decoration: none;
}
.events .data{
display: flex;
justify-content: space-between;
}
.events .data p{
color: #AAA4AC;
}


@media (min-width:750px){
    .home-content{
        display: flex;
    }
}

@media (min-width:1016px){
    .schoolyears .years {
    padding: 1rem 2rem;
    }
    .years .year {
    flex: 1 0 0%;
    }
    
} */