{% extends 'base.html' %}
{% load static %}
{% block title %}{{object.full_name}}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'main_app/css/profile.css' %}">
<div class="container-fluid">
    <div class="title">
        <h1>User Profile</h1>
    </div>
    {% if request.user.is_admin or request.user.email == object.email %}
    <div class="update">
        <a href="">Update Account</a>        
        <a href="" id="delete">Delete</a>        
    </div>
    {% endif %}
    <div class="user-profile">
        <div class="picture col">
            <img src="{{object.profile_picture.url}}" width="400px">
        </div>
        <div class="data col">
            <h2>{{object.full_name}}</h2> 
            <h5><i class="far fa-envelope"></i> {{object.email}}</h5>              
            <h6>{{object.course}}</h6>
            <h6>{{object.year}}</h6>            
        </div>
    </div>
    {% if request.user.email == object.email  %}
    <div class="grades" style="text-align: center;">
        <a href="{% url  'grades_list'  %}">Grades</a>
    </div>
    {% endif %}
</div>
{% endblock %}