<div class="container-fluid" style="height:90vh">
    <div class="title" style="border-bottom: 1px solid #d9dadc; padding: 10px 0; text-align: center;">        
        <h1>Academia Web</h1>
    </div>
    <div class="text">
    <p style="padding: 1rem .7rem 2rem; line-height: 2; text-align: center;color: rgb(107, 107, 107)">    
    Hi {{user.email}}
    <br>
    Forgot your password?
    <br>
    We received a request to reset the password for your account.    
    <br>
    To reset your password, click on the buttom below.
    </p>
    </div>
    
    <div class="password_reset" style="text-align: center;">
        <a href="https://web-academy-heroku.herokuapp.com{% url 'password_reset_form' email=user.email token=token %}"
        style="
        background: #212529;
        color: white;
        margin-top: 1rem;
        padding: .75rem 4rem;
        line-height: 1.5;
        text-decoration: none;
        border-radius: .25rem;">
        Reset Password
        </a>
    </div>
</div>



