{% extends 'base.html' %}
{% load static %}
{% block title %}Admission {{admission.full_name}}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div class="container-fluid">
    <div class="title">
        <h1>Admission Profile</h1>
    </div>
    
        <div class="accept">
        <form method="POST" action="{% url 'admission_accept' admission.email %}">
            {% csrf_token %}        
            <input type="submit" value="Accept">
            <a href="{% url 'admission_denied' admission.email %}">Deny</a>
        </form>
    </div>
    

    {% for m in messages %}
        {{m.errorlist}}
        {% endfor %}
    
    <div class="user-profile">
        <div class="picture col">
            <img src="{{admission.profile_picture.url}}" width="400px">
        </div>
        <div class="data col">
            <h2>{{admission.full_name}}</h2>
            <h6>Email: {{admission.email}}</h6>     
            <h6>Document: {{admission.document}}</h6> 
            <h6>First name: {{admission.first_name}}</h6> 
            <h6>Last name: {{admission.last_name}}</h6> 
            <h6>Date of birth: {{admission.date_of_birth}}</h6>              
            <h6>Gender: {{admission.gender}}</h6>
            <h6>Nationality: {{admission.nationality}}</h6>
            <h6>Year: {{admission.year}}</h6>
            <h6 >High School Diploma: <a href="{{admission.HS_diploma.url}}">View</a></h6>

        </div>
    </div>
    
</div>
{% endblock %}