{% extends 'base.html' %}
{% load static %}
{% block title %}Admission Send{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style>
    @media(max-width:600px){
        h5{color: rgb(141, 141, 141); margin: 0 2rem; line-height: 2;margin-top: 10%;}
    }
    @media(min-width:600px){
        h5{width: 50%; margin: auto; margin-top: 10%;line-height: 2;color: rgb(141, 141, 141);}
    }
</style>
<div class="container-fluid">
    <div class="title">
        <h1>Application Send</h1>
    </div>
    <h5>        
        Hi {{admission.email}}.
        <br>
        Your application has been successfully submitted.
        <br>
        Check your email inbox, we send you an email with more information.
        <br>
        If you don't receive an email in your email inbox, please send us 
        an email to check out your situation. 
        <br> 
        <a href="{% url 'main_page' %}">Main Page</a>
    </h5>    
</div>

{% endblock %}