{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/course_data.css' %}">
<div class="container-fluid">
    <div class="title">
        <a href="{% url 'course' course.name course.year %}"><h1>{{course.name}}</h1></a>
    </div>
    {% if request.user.is_admin or request.user.is_teacher %}
    <div class="update">
        <a href="{% url 'category_update' course=course.name category=category.name %}">Update Category</a>        
        <a href="{% url 'category_delete' course=course.name category=category.name %} " id="delete">Delete</a>
        
    </div>
    {% endif %}
    <div class="presentation">
        <div class="img col">
            <img src="{{course.course_picture.url}}" alt="">
        </div>
        <div class="data col">
            <h2>{{category.name}}</h2>
            <h5>Course: {{course.name}}</h5>
            <p>{{course.description}}</p>
        </div>
    </div>
    <div class="content">
        <div class="c-title">
            <h4>Content</h4>
            <a href="{% url 'content_add' course=course.name category=category.name %}"><i class="fas fa-plus"></i> Add</a>
        </div>
        {% if contents %}{% for content in contents %}
        <div class="list-content">
            <a   onclick="content_select(this)" data-id="{{content.id}}"  id="content_field"><li class="list-group-item">
                <p>{{content.name}}</p>
                <p>{{content.created}}</p>
            </li></a>
            {% if request.user.is_teacher or request.user.is_admin %}
            <a href="{% url 'content_delete'  category=content.category.name name=content.name id=content.id %}" id="delete"><i class="far fa-trash-alt"></i></a>
            {% endif %}
        </div>
        {% endfor %}{% else %}
        <li class="list-group-item">
            <p>No content yet...</p>
        </li>
        {% endif %}
    </div>
</div>
<script>
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function content_select(e){        
        var content = e.getAttribute('data-id')        

        var url = '/academiaweb/recent_content/'
        fetch(url,{                
            method:'POST',
            headers:{
                'Content-Type':'application/json',                
                'X-CSRFToken' : getCookie('csrftoken')          
            },
            body : JSON.stringify({'content':content})

        })
        .then(
            function(response){     
                console.log(response)           
                return response.json()
            }
        )
    }
    



</script>    
{% endblock %}     