{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'main_app/css/contact.css' %}">
<div class="title">
    <a href="{% url 'main_page' %}">
      <h1>AcademiaWeb</h1>
    </a>   
</div>
<div class="third-card row">
    {% if name  %}
        <div class="message">
            <h3>Thanks {{name}}!</h3>
            <p>We have successfully received your email.</p>
        </div>
    {% endif %}
    <div class="text col">
        <h2>Contact</h2>
        <p>E-mail:<br> academiaweb101@gmail.com </p>
        <p>Address:<br> 123 fake street</p>
        <p>Telephone:<br> 555-7334</p>
        <ul>
            <a href="https://facebook.com/"><li><i class="fab fa-facebook-f"></i></li></a>
            <a href="https://twitter.com/"><li><i class="fab fa-twitter"></i></li></a>
            <a href="https://instagram.com/"><li><i class="fab fa-instagram"></i></li></a>
            <a href="https://gmail.com/"><li><i class="fab fa-google-plus-g"></i></li></a>
        </ul>
    </div>

    <div class="form-contact col">       
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="name" class="form-control" placeholder="Your name...">
            <input type="email" name="email" class="form-control" placeholder="Your email...">
            <textarea name="message" class="form-control" placeholder="Your message..." rows="5"></textarea>
            <input type="submit" id="submit" value="Send email">
        </form>
        
    </div>
    
</div> 
{% endblock %}