{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/course_data.css' %}">
<div class="container-fluid">
    <div class="title">
        <a href="{% url 'courses' %}"><h1>Courses</h1></a>
    </div>
    {% if request.user.is_admin or request.user.is_teacher %}
    <div class="update">
        <a href="{% url 'course_update' course.name course.year %}">Update Course</a>
        {% if request.user.is_admin %}
        <a href="{% url 'course_delete' course.name course.year %} " id="delete">Delete</a>
        {% endif %}
    </div>
    {% endif %}
    <div class="presentation">
        <div class="img col">
            <img src="{{course.course_picture.url}}" alt="">
        </div>
        <div class="data col">
            <h2>{{course.name}}</h2>
            <h5>Year: {{course.year}}</h5>
            <p>{{course.description}}</p>
        </div>
    </div>      
    <div class="categories">  
        <div class="c-title">
            <h1>Topics</h1>
            {% if request.user.is_admin or request.user.is_teacher %}
            <a href="{% url 'topic_create' course=course.name %}"><i class="fas fa-plus"></i> Add</a>
            {% endif %} 
        </div> 
        <ul class="list-group">
            {% if topics  %}{% for topic in topics %}
            <a href="{% url 'topic' course=course.name topic=topic.name  %}"><li class="list-group-item">                
                <p>{{topic.name}}</p>
            </li></a>
            {% endfor %}{% else %}
            <li class="list-group-item">No content yet...</li>{% endif %}
        </ul>
    </div>
    <div class="teachers">
        <h1>Teachers</h1>
        <ul class="list-group">
            {% for teacher in teachers %}
            <a href="{% url 'teacher' teacher.email %}"><li class="list-group-item">
                <img src="{{teacher.profile_picture.url}}">
                <p>{{teacher.full_name}}</p>
            </li></a>
            {% endfor %}
        </ul>
    </div> 
</div>
{% endblock %}    