{% extends 'base_home.html' %}
{% load static %}
{% block title %}My Grades{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/request_list.css' %}">

<div class="content">    
    <div class="content-title">
        <h3>My Grades </h3>
    </div>
    
    
    <div class="list-users">
        
        <ul class="list-group">
            {% for work in works %}
            <li class="list-group-item">
                <a href="{% url 'grade' work.id %}">                    
                    <p id="info1">{{work.assignment}}</p>
                    <p id="info1">{{work.grade}}</p>
                    {% if work.status == 'Passed' %}
                    <p style="color: forestgreen;" id="info2">{{work.status}}</p>
                    {% elif work.status == 'Failed' %}
                    <p style="color: rgb(241, 74, 74);" id="info2">{{work.status}}</p> 
                    {% elif work.status == 'Unchecked' %}
                    <p style="color: gray;" id="info2">{{work.status}}</p> 
                    {% endif %} 
                </a>
            </li>
            {% endfor %}            
        </ul>
    </div>
</div> 
{% endblock %}   