{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'main_app/css/main_page.css' %}">

<div class="container-fluid">
    <img src="{% static 'page_images/img-main.png' %}" class="img">
    <header>
        <a href="{% url 'main_page' %}" class="logo">AcademiaWeb</a>
        <div class="toggle">
        <i class="fas fa-ellipsis-v"></i>
        </div>
        <ul class="navegation"> 
            <li>
                
                <a  href="{% url 'information' %}"  id="information">Information</a>
            </li>
            <li>
                <a href="{% url 'contact'  %}" id="about_us">Contact Us</a>
            </li>        
            <li>
                <a  href="{% url 'register' %}" >Register</a>
            </li>
            <li>
                <a  href="{% url 'login' %}" id="login">Login</a>
            </li>    
          </ul>
    </header>
    <div class="content">
        <div class="text">
            <h2>Get Free Education</h2>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, quasi cumque! Asperiores aliquid similique ex.</P>
            <a href="{% url 'information' %}" id="learn-more">More Information</a>  
        </div>
    </div>  
</div>

<script src="{% static 'main_app/js/main_page.js' %}"></script>
{% endblock %}     