{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.container-fluid{
width: 90%;

}
.container-fluid .title{
border-bottom: 1px solid #d9dadc;
padding: 25px 0 10px;
margin-bottom: 30px;
text-align: center;
}
.title a{text-decoration: none;color: #212529;}
a:hover{color: #4a4c4e;}

</style>
<div class="container-fluid">
    <div class="title">
        <h2><a href="{% url 'my_grades' request.user %}">My Grades</a></h2>
    </div>
    <div class="work">
        <h3>Student : {{work.student.full_name}}</h3>
        <h3>Your Grade: {{work.grade}}</h3>
        <h3>Comment: {{work.comment}}</h3>
        <h3>Your work: <a href="{{work.file.url}}">View Work</a></h3>
    </div>
    
</div>    
{% endblock %}