{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div class="container-fluid">
    <div class="title">
        <h1>User Profile</h1>
    </div>
    {% if request.user.is_admin or request.user.email == user.email %}
    <div class="update">
        <a href="{{update_url}}">Update</a>
        {% if request.user.is_admin %}
        <a href="{{delete_url}}" id="delete">Delete</a>
        {% endif %}
    </div>
    {% endif %}
    <div class="user-profile">
        <div class="picture col">
            <img src="{{user.profile_picture.url}}" width="400px">
        </div>
        <div class="data col">
            <h2>{{user.full_name}}</h2>            
            <h5><i class="far fa-envelope"></i>      {{user.email}}</h5> 
            <h5><i class="fas fa-birthday-cake"></i> {{user.date_of_birth}}</h5>       
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Veniam maiores officia tenetur. Quaerat numquam debitis eveniet 
                deserunt atque suscipit blanditiis officiis maiores, architecto, 
                tempore mollitia voluptas rerum. Quam, amet cumque!
            </p>
        </div>
    </div>
    
</div>
{% endblock %}