{% extends 'base_home.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/request_list.css' %}">

<div class="content">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-success" role="alert">            
            {{message}}
        </div>        
        {% endfor %}
    </div>
    {% endif %}
    <div class="content-title">
        <h3>{{title}}</h3>

        {% if request.user.is_admin or request.user.is_teacher %}{% if create_url %}        
        <a href="{{create_url}}"><p>Add<i class="fas fa-plus"></i></p></a>
        {% endif %}{% endif %}
    </div>
    
    <div class="list-users">
        <ul class="list-group">
            {% if students %}{% for student in students %}
            <li class="list-group-item">
                <a href="{% url 'student' student.email %}">
                    <img  class="profile_picture" src="{{student.profile_picture.url}}">
                    <p id="info1">{{student.full_name}}</p>
                    <p id="info2">{{student.yearl}}</p>
                </a>
            </li>{% endfor %}


            {% elif teachers %}{% for teacher in teachers %}
            <li class="list-group-item">
                <a href="{% url 'teacher' teacher.email %}">
                    <img  class="profile_picture" src="{{teacher.profile_picture.url}}">
                    <p id="info1">{{teacher.full_name}}</p>
                    <p id="info2">{{teacher.courses}}</p>
                </a>
            </li>{% endfor %}

            {% elif admins %}{% for admin in admins %}
            <li class="list-group-item">
                <a href="{% url 'admin' admin.email %}">
                    <img  class="profile_picture" src="{{admin.profile_picture.url}}">
                    <p id="info1">{{admin.full_name}}</p>
                    <p id="info2">{{admin.email}}</p>
                </a>
            </li>{% endfor %}

            {% elif admissions %}{% for admission in admissions %}
            <li class="list-group-item">
                <a href="{% url 'admission' admission.email %}">
                    <img  class="profile_picture" src="{{admission.profile_picture.url}}">
                    <p id="info1">{{admission.full_name}}</p>
                    <p id="info2">{{admission.email}}</p>
                </a>
            </li>{% endfor %}
            {% elif courses %}{% for course in courses %}
            <li class="list-group-item">
                <a href="{% url 'course' course.name course.year %}">
                    <img  class="profile_picture" src="{{course.course_picture.url}}">
                    <p id="info1">{{course.name}}</p>
                    <p id="info2">{{course.year}}</p>
                </a>
            </li>{% endfor %}


            {% elif years %}{% for year in years %}
            <li class="list-group-item">
                <a href="{% url 'year' year.id %}">
                    <p id="info1">{{year.year}}</p>
                    <p id="info2">{{year.total_students}} students</p>
                </a>
            </li>{% endfor %}

            {% elif events %}{% for event in events %}
            <li class="list-group-item">
                <a href="{% url 'event' title=event.title date=event.event_date %}">                    
                    <p id="info1">{{event.title}}</p>
                    <p id="info1">{{event.year}} year</p>
                    <p id="info2">{{event.event_date}}</p>
                </a>
            </li>{% endfor %} 

            {% else %}
                <li class="list-group-item">
                    No Results Found...
                </li>
            {% endif %}
        </ul>
        {% if filters %}
        <div class="filters">
            <div class="row">
                <i class="fas fa-sliders-h"  id="filter_icon"></i>
            </div>
            <form method="GET">
                {{filters.form}}
                <input type="submit" value="Filter">
            </form>
        </div>
        {% endif %}
    </div> 

</div>
<script>
    const filter_icon = document.querySelector('#filter_icon')
    const filter      = document.querySelector("form")

    filter_icon.addEventListener("click",function(){
        filter.classList.toggle('show')
    })
</script>
{% endblock %}