{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/year_data.css' %}">
<div class="container-fluid">
    <div class="title">
        <a href="{% url 'years' %}"><h1>School Year</h1></a>
    </div>
    <div class="content" >
        <div class="first-col">
            <ul class="list-group" >
                <div class="content-title">
                    <h4>Admissions</h4>
                    <a href="">
                        View More
                    </a>
                </div>
                {% if admissions %}{% for admission in admissions %}
                <a href="{% url 'admission' admission.email %}"><li class="list-group-item">
                    <img src="{{admission.profile_picture.url}}"  alt="">
                    <p>{{admission.full_name}}</p>
                    <p>{{admission.email}}</p>
                </li></a>{% endfor %}{% else %}
                <li class="list-group-item">
                    <p>No students found...</p>
                </li>
                {% endif %}
            </ul>            
            <ul class="list-group" id="students">
                <div class="content-title">
                    <h4>Students</h4>
                    <a href="/academiaweb/students/?user=&document=&first_name=&last_name=&gender=&year={{year.id}}">
                        View More
                    </a>
                </div>
                {% if students %}{% for student in students %}
                <a href="{% url 'student' student.email %}"><li class="list-group-item">
                    <img src="{{student.profile_picture.url}}"  alt="">
                    <p>{{student.full_name}}</p>
                    <p>{{student.email}}</p>
                </li></a>{% endfor %}{% else %}
                <li class="list-group-item">
                    <p>No students found...</p>
                </li>
                {% endif %}
            </ul>            
        </div>
        <div class="second-col">
            <ul class="list-group">
                <div class="content-title">
                    <h4>Courses</h4>
                    <a href="/academiaweb/courses/?name=&year=1">View More</a>
                </div>
                {% if courses %}{% for course in courses %}
                <a href="{% url 'course' course.name course.year %}"><li class="list-group-item">
                    <img src="{{course.course_picture.url}}"  alt="">
                    <p>{{course.name}}</p>
                </li></a>{% endfor %}{% else %}
                <li class="list-group-item">
                    <p>no courses found...</p>
                </li>
                {% endif %}  
            </ul>          
        </div>
    </div>
</div>  
{% endblock %}  