.container-fluid{
width: 100%;
}
.container-fluid .title{
border-bottom: 1px solid #d9dadc;
padding: 25px 0 10px;
margin-bottom: 30px;
text-align: center;
color: #212529;
}

.accept{
padding: 0 2rem;
text-align: end;
}
.accept input{
background: #212529;
border: 1px solid #ced4da;
color: white;
text-decoration: none;
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
}    
.accept a{
background: none;
color: indianred;
border: none;
text-decoration: none;
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
}

 
.update{
padding: 0 2rem;
text-align: end;
}
.update a{
background: #212529;
border: 1px solid #ced4da;
color: white;
text-decoration: none;
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
}
.update a#delete{
background: none;
color: indianred;
border: none;
}


.user-profile{
align-items: center;
margin: auto;
}
.picture{
text-align: center;
}
.picture img{
flex: 1 0 0%;
text-align: center;
border-radius: 50%;
width: 300px;
margin: 2rem 0;
}
.data{
text-align: center;
}
.data h2{
font-size: 3rem;
}

.data h5,h6{
color: rgb(180, 180, 180);  
letter-spacing: .5px; 
padding: .3rem ; 
}
.data p{
width: 70%;
text-align: justify;
color: #aaa;
}

.data a{
letter-spacing: .5px; 
padding: .3rem ; 
font-size: 1.25rem; 
}

@media(max-width:955px){
.update{
padding: 0 2rem;
text-align: center;
margin: 2rem 0;
}
.accept{
padding: 0 2rem;
text-align: center;
margin: 2rem 0;
}
.user-profile{
display: block;
}
.user-profile .data{
text-align: center
}
.picture img{
width: 300px;
}
.data p{
width: 80%;
margin: auto;
}
}

