{% extends 'base.html' %}
{% load static %}
{% block title %}Student Assignment{% endblock %}
{% block content %}
<style>
.container-fluid{
width: 90%;
}
.container-fluid .title{
border-bottom: 1px solid #d9dadc;
padding: 25px 0 10px;
margin-bottom: 30px;
text-align: center;
color: #212529;
}
.assignment h3,.assignment h4{
margin: 2rem 0 0 0;
}
.total{
align-items: baseline;
display: flex;
justify-content: space-between;
}
a{
text-decoration: none;
}
.list-group{

padding: 2rem 0 0 0;
}
.list-group-item {
text-decoration: none;
display: flex;
align-items: center;
justify-content: space-between;
}
.list-group-item p{
margin: 0;
color: rgb(100, 100, 100);
}

@media(max-width:600px){
.list-group-item p#info2{
display: none;
}
} 

</style>
<div class="container-fluid">
    <div class="title">
        <h2>Student Works</h2>
    </div>
    <div class="assignment">
        <h3>Title   : {{assignment}}</h3>
        <h4>Deadline: {{assignment.deadline}}</h4>
        <div class="total">
            <h4>Total Works: {{total_works}}</h4>
            <p>({{total_works}}/{{total_students}})</p>
        </div>
        <div class="students">
            <ul class="list-group">
                <li class="list-group-item">
                    <p>Students</p>
                    <p>Grade</p>
                    <p id="info2">Status</p>
                </li>
                {% for work in works %}
                <a href="{% url 'student_homework' course_pk=work.assignment.topic.course.id topic_pk=work.assignment.topic.id assignment_pk=work.assignment.id homework_pk=work.id %}">
                    <li class="list-group-item">
                        
                        <p>{{work.student.full_name}}</p>
                        <p>{{work.grade}}</p>
                        {% if work.status == 'Passed' %}
                        <p style="color: forestgreen;" id="info2">{{work.status}}</p>
                        {% elif work.status == 'Failed' %}
                        <p style="color: rgb(241, 74, 74);" id="info2">{{work.status}}</p> 
                        {% elif work.status == 'Unchecked' %}
                        <p style="color: gray;" id="info2">{{work.status}}</p> 
                        {% endif %} 
                                        
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}